<p>First Name: <%= @member.first_name %></p>
<p>Last Name: <%= @member.last_name %></p>
<p>Age: <%= @member.age %></p>

<p><a href="/members/<%= @member.id %>/edit">Edit Member</a></p>
<form method="post" action="/members/<%= @member.id %>/delete">
  <input type="edit" value="Delete Member"/>
</form>

<form method="get" action="/members/<%=@member.id%>/edit">
  <input type="edit" value="delete member">
</form>
