<h2>Update booking</h2>
<form method="post"action="/bookings/<%= @booking.id %>">

  <div class="booking_gym_member">
  <label for="update_booking">Gym member:</label>
  </div>
  <select name="member_id" id="gym_member">
    <% Member.all.each do |member| %>
    <% if @booking.member_id == member.id %>
    <option value="<%= member.id %>" selected ><%= member.name %></option>
    <% else %>
      <option value="<%= member.id %>" ><%= member.name %></option>
    <% end %>
    <% end %>
  </select>
  <div class="gym_session_booking"
  <label for="gym_sessions">Gym session:</label>
  </div>
  <select name="gym_session_id" id="gym_session">
    <% GymSession.all.each do |gym_session| %>
    <% if @booking.gym_session_id == gym_session.id %>
    <option value="<%= gym_session.id %>" selected ><%= gym_session.name %></option>
    <% else %>
    <option value="<%= gym_session.id %>" ><%= gym_session.name %></option>
    <% end %>
    <% end %>

  </select>

  <div class="update_member">
  <label for="gym member"></label>
  </div>
  <div class="update_gym_session">
  <label for="gym session"></label>
  </div>


  <input class="btn" type="submit" value="update booking"/>
</form>
