<h2>Update booking</h2>
<form method="post"action="/bookings/<%= @booking.id %>">


  <label for="update_booking">Gym member:</label>
  <select name="member_id" id="gym_member">
    <% Member.all.each do |member| %>
    <option value="<%= member.id %>"><%= member.name %></option>
    <% end %>
  </select>
  <label for="gym_sessions">Gym session:</label>
  <select name="gym_session_id" id="gym_session">
    <% GymSession.all.each do |gym_session| %>
    <option value="<%= gym_session.id %>"><%= gym_session.name %></option>
    <% end %>
  </select>


  <label for="gym member"></label>
  <label for="gym session"></label>


  <input type="submit" value="update booking"/>
</form>
